<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/adduserstyle.css' />
  </head>
  <body>
<div id="container">
  <form action="" class="formadduser">
   <div class="inputbox"> 
    <label for="">Name:</label>
    <input type="text" name="name" placeholder="name" id="">
   </div>
    <div class="inputbox">
    <label for="">Surname:</label>
    <input type="text" name="surname" placeholder="surname" id="">
    </div>
    <div class="inputbox">
    <label for="">E-mail:</label>
    <input type="email" name="surname" placeholder="e-mail" id="">
    </div>
    <div class="inputbtn">
    <input type="button" value="Zapisz" id="btnSave">
    </form>
</div>
</body>
</html>