<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/layoutstyle.css' />
  </head>
  <body>
   
<div id="menu">
  <ul class="">
    <li><a href=#>==LOGO==</a></li> 
    <li><a href="./">Home</a></li>              
    <li><a href="./adduser">Add User</a></li>
    <li><a href="#">List Users</a></li>
    <li><a href="#">Specialization</a></li>
    <li><a href="#">Delete</a></li>
    
  </ul>
</div>
     {{{body}}}
  </body>
</html>